<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Dear user</h1>
<p>
  Your application has been successfully approved.<br>
  Your record is: <%= @resource.name %>.<br>
</p>
<p>Thanks for supporting and have a great day!</p>
</body>
</html>
