<h1>Greetings, traveler!</h1>
<%= link_to 'Choose route', routes_path, class: 'btn btn-success'  %>
<%= link_to 'Choose points', points_path,  class: 'btn btn-success'  %>
<%= link_to 'Choose event', events_path,  class: 'btn btn-success'  %>