<tr>
  <td><%= published_event.name  %></td>
  <td><%= published_event.date  %></td>
  <td><%= published_event.route.name  %></td>
  <td><%= link_to t('helpers.links.show'), event_path(published_event),  class: 'btn btn-success'  %></td>
</tr>

