<strong>Add your comment:</strong>
<%= form_with(model: [ commentable, commentable.comments.build ], local: true) do |f| %>
  <p>
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.submit 'Comment'%>
  </p>
<% end %>