<h1>List of routes</h1>

<table class='table table-striped' >
  <thead>
  <tr>
    <th>Name </th>
    <th>Type</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <%= render @routes %>
  </tbody>
</table>

<br>

<%= link_to 'Create route', new_route_path, class: 'btn btn-success'  %>
