<h1>Search</h1>

<%#= form_tag route_points_routes_path(route) do %>

    <%#= collection_check_boxes(Route, :point_ids, Point.all.order('id DESC'), :id, :name) do |b| %>
<!--      <div class="input-group-text">-->
        <%#= b.check_box %>
        <%#= b.label points: 'form-control text-center text-uppercase' %>
<!--      </div>-->
    <%# end %>

<!--  <div class="actions">-->
    <%#= submit_tag 'Search'%>
<!--  </div>-->
<%# end %>

<%# Event.all.where(route_id: 1).each do |x|%>
  <%#= x.event_name %>
<!--<%# end %><br>-->
<!--<p>!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</p>-->
<%# Route.all.where(route_type: 0).each do |x|%>
<!--  <%#= x.name %><br>-->
<%# end %>
<!--<p>!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</p>-->
<%# Route.joins(:points).all.where(points_routes: {point_id: 23}).each do |x|%>
<!--  <%#= x.name %><br>-->
<%# end %>