  <% if resource.errors.any? %>
    <div id = "error_explanations">
      <h2><%= pluralize(resource.errors.count, 'error') %> Prohibited</h2>

      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>