  <% if resource.errors.any? %>
    <div id = "error_explanations">
      <h2><%= t('.prohibited', count: resource.errors.count )%></h2>
      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>