<table class='table table-striped' >
  <thead>
  <tr>
    <th><%= t('.point_name')%></th>
    <th><%= t('.point_coordinate')%></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <%= render(partial: status, collection: point_set) %>
  </tbody>
</table>