<tr>
  <td><%= published_point.name  %></td>
  <td><%= "#{published_point.latitude},  #{published_point.longitude}" %></td>
  <td><%= link_to '', point_path(published_point), class: 'icon icon--show', title: t('helpers.links.show')  %></td>
</tr>

