<h1>List of points</h1>

<table class='table table-striped' >
  <thead>
  <tr>
    <th>Event name</th>
    <th>Coordinates</th>
    <th>Tag</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <%= render @points %>
  </tbody>
</table>

<br>

<%= link_to 'Add point', new_point_path %>

<%= link_to 'Home page', welcome_index_path %>

<%= link_to 'Search', search_path %>
